{% extends 'base.html' %}

{% block content %}

<h1>{{title}}</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Группа 1: Название и Описание -->
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="col-md-8">
                <p>{{ form.content.label_tag }}</p>
                <p>{{ form.content }}</p>
            </div>
        </div>
    </div>

    <!-- Группа 2: Постер и Кнопки -->
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="{{ form.poster.id_for_label }}">Постер фильма:</label>
                {{ form.poster }}
                <button type="submit" class="btn btn-primary">Загрузить</button>
                <p class="form-text text-muted">Пожалуйста, выберите изображение для постера!</p>
            </div>
        </div>
    </div>
</form>
{% endblock %}