{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="hero">
        <div class="container">
            <h1>Добро пожаловать в Echoes of Cinema</h1>
            <h2>Добавляйте фильмы и сериалы в коллекцию!</h2>
        </div>

        <div class="search">
            <h3>Поиск по добавленной коллекции</h3>
            <p>Введите название:</p>
            <form action="" method="get">
                <input type="text" name="movie_search" placeholder="Введите фильм/сериал">
                <input type="submit" value="Найти">
          </form>
        </div>

    </section>

    <div class="section">
        <div class="container">
        {% for movie in page_obj %}
            <div class="movie-card">
                <div class="movie-item">
                    <!-- Мини-постер слева -->
                    {% if movie.poster %}
                        <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="movie-poster-thumb">
                    {% else %}
                        <div class="movie-poster-placeholder">Нет постера</div>
                    {% endif %}

                    <!-- Описание справа -->
                    <div class="movie-content">
                        <h3>{{ movie.title }}</h3>
                        <p>{{ movie.content|truncatechars:100 }}</p>
                        <a href="{{ movie.get_absolute_url }}" class="btn">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}

      </div>
    </div>
{% endblock %}