{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>

    <section class="hero">
      <div class="container">
        <h2>Добро пожаловать в Echoes of Cinema</h2>
        <p>Отслеживайте фильмы и сериалы, которые вы хотите посмотреть.</p>
      </div>
    </section>

    <div class="section">
      <div class="container">
        {% for movie in page_obj %}
            <div class="movie-card">
                <div class="movie-item">
                    <!-- Мини-постер слева -->
                    {% if movie.poster %}
                        <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="movie-poster-thumb">
                    {% else %}
                        <div class="movie-poster-placeholder">Нет постера</div>
                    {% endif %}

                    <!-- Описание справа -->
                    <div class="movie-content">
                        <h3>{{ movie.title }}</h3>
                        <p>{{ movie.content|truncatechars:100 }}</p>
                        <a href="{% url 'post' movie.slug %}" class="btn">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}

      </div>
    </div>
{% endblock %}