{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>{{ movie.title }}</h1>

    <div class="movie-card">
        {% if movie.poster %}
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="movie-poster">
        {% else %}
            <p><div class="movie-poster-placeholder">Нет постера</div></p>
        {% endif %}

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.poster.id_for_label }}">Постер фильма:</label>
                {{ form.poster }}
                <button type="submit" class="btn btn-primary">Загрузить постер</button>
            </div>
        </form>
    </div>

    <div class="movies-grid">
        <p class="movie-description">{{ movie.content }}</p>
    </div>
{% endblock %}